body {
  background-color: #e9f5ed;
}

.header {
  background-color: #e9f5ed;
  background: -webkit-linear-gradient(
    rgba(233, 245, 237, 1),
    rgba(233, 245, 237, 1),
    rgba(233, 245, 237, 0)
  );
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(
    rgba(233, 245, 237, 1),
    rgba(233, 245, 237, 1),
    rgba(233, 245, 237, 0)
  );
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(
    rgba(233, 245, 237, 1),
    rgba(233, 245, 237, 1),
    rgba(233, 245, 237, 0)
  );
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(
    rgba(233, 245, 237, 1),
    rgba(233, 245, 237, 1),
    rgba(233, 245, 237, 0)
  );
  /* Standard syntax */
}

.col-left {
  background-color: #e9f5ed;
}

.action-buttons ul a li:hover {
  color: #46c8b2;
}

#next-chapter-color:hover {
  background-color: #f5d800;
}

.action-buttons ul {
  border-top: 1px solid rgba(70, 200, 178, 0.2);
}

@media screen and (min-width: 750px) {
  #cp {
    display: block;
  }

  #bp,
  #ra,
  #pd,
  #fi,
  #bi {
    display: none;
  }
}

.progress-bar-color {
  background-color: #46c8b2;
}

/*responsive*/

@media screen and (max-width: 680px) {
  #dieWrapper,
  #cardWrapper,
  #coinWrapper {
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  .button-1 {
    width: 6.5em;
    font-size: 10px;
    padding: 0.8em;
  }

  input[type="checkbox"] + label {
    height: 3em;
    padding: 8% 5%;
  }

  #centered {
    font-size: 12px;
  }

  #left-mathjax {
    font-size: 12px;
  }
}
